body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container
{
    display:flex;  
}

.flex-container div
{
    background-color:darkgray;
    border: 1px black solid;
    height: 200px;
    
    justify-content: space-around;
    flex-wrap:wrap;
}