header
{
    background-color: cornflowerblue;
    text-align: center;
}
header h1
{
    font-size: 72px;
    font-family: monospace;
    
}

body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
}

.movie-container
{
    display:flex;
    justify-content: space-around;
    background-color:white;
    border: 1px black solid;
    height: 200px;
    flex-basis: 150px;
}


#flex-container
{
    display:flex;
    justify-content: space-around;
    background-color:red;
    border: 1px black solid;
    height: 200px;
}

.movieItems
{
    display:flex;  
    justify-content: space-around;
    background-color:white;
    border: 1px black solid;
    height: 200px;
    width: 180px
}
